<div class="pt-2">
    <div class="filter-bg py-2">
        <div class="d-flex justify-content-around">
            <div class="input-group w-75">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <button type="button" class="btn primary-btn-outline"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-around my-2 ">
            <div class="mx-1 mt-1">
                <p>Service type</p>
                <select width=100>
                    <option value='lawn mower'>Lawn mower</option>
                    <option value='garden'>Garden work</option>
                    <option value='tree cutting'>Tree cutting</option>
                    <option value='' selected hidden>any</option>
                </select>
            </div>
            <div class="mx-1 mt-1">
                <p>Min Price</p>
                <input class="w-100" type="number" min="0" placeholder="---" />
            </div>
            <div class="mx-1 mt-1">
                <p>Rating</p>
                <select width=100>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='' selected hidden>any</option>
                </select>
            </div>
        </div>
        <p class="d-flex flex-row-reverse"><span class="mx-3" title="More filters"><i class="primary-color-variant fas fa-filter fa-lg"></i></span></p>
        
    </div>
    <ng-container>
        <div class="w-75 service-item mx-auto">
            <div class="d-flex flex-row container">
                <div class="align-middle">
                    <img class="m-2" src="../../../../assets/images/sample-logo.png" width="60" height="70"
                        alt="service image" />
                    <p class="mt-4"><b>R100/m<sup>2</sup></b></p>
                </div>
                <div>
                    <h6>Green grass <i class="fas fa-certificate primary-color mx-1"></i></h6>
                    <p class="service-info"><b>Services : </b>lawn mawer, house cleaning</p>
                    <p class="service-info"><b>Location :</b> Chris Hani, Mthatha</p>
                    <div class="d-flex justify-content-around">
                        <span class="icon-btn-inverse" title="Book appointment">
                            <i class="far fa-calendar"></i>
                        </span>
                        <span class="icon-btn" title="Reviews">
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="w-75 service-item mx-auto">
            <div class="d-flex flex-row container">
                <div class="align-middle">
                    <img class="m-2" src="../../../../assets/images/sample-logo.png" width="60" height="70"
                        alt="service image" />
                    <p class="mt-4"><b>R104/m<sup>2</sup></b></p>
                </div>
                <div>
                    <h6>Grass Cutters</h6>
                    <p class="service-info"><b>Services : </b>lawn mawer, house cleaning</p>
                    <p class="service-info"><b>Location :</b> Chris Hani, Mthatha</p>
                    <div class="d-flex justify-content-around">
                        <span class="icon-btn-inverse" title="Book appointment">
                            <i class="far fa-calendar"></i>
                        </span>
                        <span class="icon-btn" title="Reviews">
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="w-75 service-item mx-auto">
            <div class="d-flex flex-row container">
                <div class="align-middle">
                    <img class="m-2" src="../../../../assets/images/sample-logo.png" width="60" height="70"
                        alt="service image" />
                    <p class="mt-4"><b>R100/m<sup>2</sup></b></p>
                </div>
                <div>
                    <h6>Green grass <i class="fas fa-certificate primary-color mx-1"></i></h6>
                    <p class="service-info"><b>Services : </b>lawn mawer, house cleaning</p>
                    <p class="service-info"><b>Location :</b> Chris Hani, Mthatha</p>
                    <div class="d-flex justify-content-around">
                        <span class="icon-btn-inverse" title="Book appointment">
                            <i class="far fa-calendar"></i>
                        </span>
                        <span class="icon-btn" title="Reviews">
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="w-75 service-item mx-auto">
            <div class="d-flex flex-row container">
                <div class="align-middle">
                    <img class="m-2" src="../../../../assets/images/sample-logo.png" width="60" height="70"
                        alt="service image" />
                    <p class="mt-4"><b>R100/m<sup>2</sup></b></p>
                </div>
                <div>
                    <h6>Green grass <i class="fas fa-certificate primary-color mx-1"></i></h6>
                    <p class="service-info"><b>Services : </b>lawn mawer, house cleaning</p>
                    <p class="service-info"><b>Location :</b> Chris Hani, Mthatha</p>
                    <div class="d-flex justify-content-around">
                        <span class="icon-btn-inverse" title="Book appointment">
                            <i class="far fa-calendar"></i>
                        </span>
                        <span class="icon-btn" title="Reviews">
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="w-75 service-item mx-auto">
            <div class="d-flex flex-row container">
                <div class="align-middle">
                    <img class="m-2" src="../../../../assets/images/sample-logo.png" width="60" height="70"
                        alt="service image" />
                    <p class="mt-4"><b>R100/m<sup>2</sup></b></p>
                </div>
                <div>
                    <h6>Green grass <i class="fas fa-certificate primary-color mx-1"></i></h6>
                    <p class="service-info"><b>Services : </b>lawn mawer, house cleaning</p>
                    <p class="service-info"><b>Location :</b> Chris Hani, Mthatha</p>
                    <div class="d-flex justify-content-around">
                        <span class="icon-btn-inverse" title="Book appointment">
                            <i class="far fa-calendar"></i>
                        </span>
                        <span class="icon-btn" title="Reviews">
                            <i class="far fa-star"></i>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </ng-container>
    <ng-container *ngIf="servicePage$ | async as servicePage">
        <nav class="w-75 mx-auto my-3"
            *ngIf="servicePage.content !== undefined && servicePage.content.length > 0 && servicePage.totalPages>1">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" (click)="!servicePage.first && goToPage(1)"
                        [ngClass]="{'disable':servicePage.first}" aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="!servicePage.first && goToPage(servicePage.number)"
                        [ngClass]="{'disable':servicePage.first}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li *ngFor="let page of arrayRange(servicePage.number,servicePage.totalPages)" class="page-item"
                    disabled>
                    <a class="page-link" (click)="servicePage.number+1!==page && goToPage(page)"
                        [ngClass]="{'active-link':servicePage.number+1 == page}">{{page}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="!servicePage.last && goToPage(servicePage.number+2)"
                        [ngClass]="{'disable':servicePage.last}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="!servicePage.last && goToPage(servicePage.totalPages)"
                        [ngClass]="{'disable':servicePage.last}" aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>
    </ng-container>


</div>