<app-header></app-header>
<div>
    <h1 class="title">Dashboard</h1>
    <h3 class="sub-title">upcoming bookings</h3>
    <div class="bookings">
        <!--Upcoming Bookings -->
    </div>
    <h3 class="sub-title">completed services</h3>
    <div class="bookings-completed">
        <!--Completed Bookings -->
    </div> 
    <p class="text-center"><button class="btn-style-lg primary-btn"><i class="fas fa-book mx-2"></i>New Booking</button></p>
    <p class="text-center"><button class="btn-style-lg primary-btn"><i class="fas fa-history mx-2"></i>Booking History</button></p>
    <p class="text-center"><button class="btn-style-lg primary-btn"><i class="fas fa-thumbs-up mx-2"></i>My Reviews</button></p>
    
</div>
