.input-block i{
    margin: 0 1.5rem;
}
.input-block{
    margin-top: 0.5rem;
}
.input-block input{
    width: 70%;
    font-size: medium;
    border-color: transparent;
    border-bottom-width: 3px;
    border-bottom-color: #808080;
    border-bottom-style: solid;
    border-radius: 1rem;
    text-overflow: ellipsis;
}
.input-block input:focus{ 
    border-bottom-color: var(--primary-variant);
    border-bottom-width: 4px;
    border-bottom-style: solid;
}
.action-link-route i:hover{
    color:var(--primary-variant);
    
}
