<ng-container>
    <div>
        <p><a routerLink="/home" class="action-link-route" routerLinkActive="active"><i class="fas fa-arrow-left fa-lg dark-grey m-3" ></i></a></p>
        <div class="text-center">
            <img src="./../../../../assets/images/Mobile login.gif" width="80%"/>
        </div>
        <p class="h1 m-4">Login</p>
        <div>
            <div class="input-block">
                <i class="far fa-envelope">
                </i>
                <input type="text" placeholder="Username" class=""/>
            </div>
            <div class="input-block">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" /></div>
        </div>
        <p class="d-flex flex-row-reverse mx-5 my-3"><span>Forgot Password?</span></p>
        <p class="text-center my-2"><button class="btn-style secondary-btn" routerLink="/dashboard" routerLinkActive="active">Login</button></p>
    </div>
    <p class="text-center my-3">New to Green Grass? <a class="primary-color pointer" routerLink="/register" routerLinkActive="active">Register</a></p>
</ng-container>