.service-category {
    background-color: var(--primary-color);
    color: var(--white-color);
    margin: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    padding: 5px;
    text-align: center;
}

.service-category-container {
    max-width: 100%;
    overflow-x: hidden;
}

.service-category-container:hover {
    overflow-x: scroll;
}