<div >
    <p class="text-center"><img src="./../../../assets/images/sample-logo.png" width="150" height="100" /></p>
    <div class="container-block ">
        <div class="w-75 my-5">
            <p class="h5">
                <span class="h1 dark-grey"><b> Welcome to Service Sphere</b></span> – Your All In One Service Solution!
                Let us take care of it for you.
            </p>
            <span class="small">
                With our easy-to-use app, you can book appointments, customize your services, and reclaim your free time!"
            </span>
        </div>
        <p class="text-center"><button class="mx-2 btn-style primary-btn" routerLink="/login" routerLinkActive="active">Login</button><button
                class="mx-2 btn-style secondary-btn">Register</button></p>
    </div>
</div>